 body {
     padding: 0%;
     margin: 0%;
 }


 header {
     background-color: black;
     color: white;
     display: flex;
     flex-direction: row;
     /* flex-wrap: wrap; */
     /* justify-content: space-around; */
     padding: 5px;
     width: 100%;

     /* flex-wrap: wrap; */


 }

 nav ul {

     display: flex;
     flex-direction: row;

     /* margin-left: 00px; */
     list-style: none;
     text-align: center;
     margin-top: 10px;

 }


 .ulo {
     align-items: center;
     /* font-size: 26px; */
     margin-left: 600px;
 }

 .lip {
     margin-left: 20px;
 }



 .button {

     border-radius: 30px;
     /* height: 200px; */
     width: 150px;
     height: 50px;
     /* margin-top: 10px; */
     justify-content: end;
     border: 2px solid wheat;
     color: white;
     background-color: black;
     /* align-items: end; */
     justify-content: end;

 }

 .buttonw {
     border-radius: 30px;
     /* height: 200px; */
     width: 150px;
     height: 50px;
     /* margin-top: 10px; */
     justify-content: end;
     border: 2px solid rgb(245, 179, 179);
     color: white;
     background-color: red;


 }

 .lio {
     margin-left: 200px;
     margin-top: 15px;

 }



 @media screen and (min-width: 320px) and (max-width: 991px) {
     .header {
         display: flex;
         flex-wrap: wrap;
     }


 }